a.afilink{
    font-weight: bold;
    font-size: 150%;
    color: #0000ff !important;
    text-decoration: underline;
	}
a.afilink:visited { color: #000080 !important; }
a.afilink:hover { color: #ff0000 !important; }
a.afilink:active { color: #ff8000 !important; }
